@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 100%; */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #23223f;
}

::-webkit-scrollbar-thumb {
  background-color: #ed9ed6;
  border-radius: 5px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  animation: scroll forwards 50s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
